* {
  margin: 0px;
  padding: 0px;
}

html {
  background-color: rgb(240, 205, 205);
  min-height: 100vh;
  max-height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

.App {
  background-color: rgb(240, 205, 205);
  min-height: 100vh;
  max-height: 100%;
  padding-top: 100px;
  font-family: "Libre Baskerville", serif;
  text-decoration: none;
}

.card_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.carousel {
  margin: 0 auto;
  padding: 0;
  height: auto;
  max-height: 50vh;
  max-width: 70vw;
}

.carousel img {
  width: 100%;
  object-fit: cover;
}

.detail_container {
  color: rgb(56, 56, 56);
  margin-bottom: 50px;
}

.detail_container img {
  width: 100%;
}

ul {
  margin-left: 30px;
}

.navbar {
  box-shadow: 0px 3px 15px black;
  background: white;
}

footer {
  margin-top: 50px;
  margin-left: -20px;
  padding: 0;
  text-align: center;
  background-color: white;
  width: 100vw;
  height: 30px;
  position: fixed;
  bottom: 0px;
  box-shadow: 5px 5px 15px black;
}

.loading {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.wishlist_btn {
  margin: 10px;
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  padding: 5px;
  width: 150px;
  height: auto;
  justify-content: center;
  background-color: rgb(238, 238, 184);
  color: rgb(0, 66, 110);
  font-size: 30px;
  cursor: pointer;
}

.card {
  width: 200px;
  margin: 15px;
  border: 1px solid rgb(0, 66, 110);
  border-radius: 10%;
  padding: 0;
  transition: all 0.2s ease-in-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.card:hover {
  transform: scale(1.1);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.card_group {
  display: flex;
  flex-direction: column;
}

.media {
  width: 100%;
  border-radius: 18%;
}

.card_title {
  visibility: visible;
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 20%;
  max-height: auto;
  padding: 3px;
  color: yellow;
  background: rgb(107, 105, 227, 0.5);
  text-shadow: 2px 2px 3px black;
  font-family: "Bebas Neue", cursive;
}

.pagination {
  margin: 0 auto;
}

.intro {
  text-align: center;
}

.intro img {
  width: 120px;
}

.login_container {
  height: 80vh;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 60px;
}

.page_names {
  margin: 0 auto;
  padding: 10px;
  text-decoration: underline;
}
